body {
    background-color: #eee;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.open-cart {
    display: inline-block;
    padding: 10px 30px;
    background-color: yellow;
    color: black;
    border: 1px solid black;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
}
.open-cart i {
    font-size: .6rem;
}

.single-goods {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 7px;
    margin: 10px;
    float: left;
    text-align: center;
    background-color: white;
}

.single-goods img {
    width: 70%;
    height: auto;
}

.single-goods button {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 7px;
}

.cart-goods {
    width: 400px;
    height: auto;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px 15px;
    margin: 0 auto;
    margin-bottom: 10px;
}

h1 .fa-cart-shopping {
    font-size: 1.6rem;
}

.cart-goods button {
    padding: 10px 15px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 7px;
}

.cart-empty {
    text-align: center;
    font-size: 1.5rem;
}

.cart-empty a {
    text-decoration: none;
}

.cart-empty a i {
    font-size: .9rem;
}